body{
     font-size: 50px;
     background-color: black;
}

h1{
    color: azure;
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

span{
     color: red; 
}
